<launch>
    <node name="pca9685" pkg="wurov" type="pca9685.py" args="1850 3050 --frequency 390 --top_front 5 --top_back 6 --front_right 1 --back_right 2 --back_left 3 --front_left 4" />
    <node name="ninedof" pkg="wurov" type="imu_data.py" />
    <node name="thruster_tester" pkg="wurov" type="individual_thruster_control_pca.py" args="" />

    <!-- It's usually easier to tack this on last (to keep error message line numbers accurate) -->
    <include file="$(find wurov)/launch/core.launch" />
</launch>
